{% extends "main.html" %}
{% load static %}

{% block content %}
        <!-- mass-head start -->
        <div class="mass-head mass-head-pad text-center parallax mass-head-bg-3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mass-head-content">
                            <img class="img-responsive" src="{% static 'images/others/mass-head-logo.png' %}" alt="">
                            <h2 class="page-title">Booking Page</h2>
                        </div>
                    </div> <!--/.col-->
                </div> <!--/.row-->
            </div>  <!--/.container-->
            <!-- mass-head-icon start -->
            <div class="mass-head-icon">
                <i class="flaticon-scissors-4"></i>
            </div>
            <!-- mass-head-icon end -->
        </div>
        <!-- mass-head end -->
        
        <!-- about area start -->
        <div class="about-area bg-color-1 pad120">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-title text-center">
                            <img src="{% static 'images/title-img/title-img-2.png' %}" class="title-img mb15" alt="">
                            <h3 class="title">Book now</h3>
                            <p class="sub-title">A wide range of male grooming services under one roof</p>
                        </div>
                    </div> <!-- /.col -->
                </div> <!-- /.row -->
            </div> <!--/.container-->
            <div class="container">
                <div class="row">
                    <div class="col-md-6 sm-mb40">
                        <img class="img-responsive xs-mb30" src="{% static 'images/others/shaving.jpg' %}" alt="">
                    </div> <!-- /.col -->
                    <div class="col-md-6">
                        <!-- booking form start -->
                        <form id="booking-form" class="booking-form" data-toggle="validator"  action="" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="book-date" placeholder="Date" required data-error="Choose a date">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> <!-- /.col -->
                                <div class="col-md-6">
                                    <select class="form-control" id="book-time" required data-error="Select a time">
                                        <option value="">Time</option>
                                        <option value="07:00 am">07:00 am</option>
                                        <option value="08:00 am">08:00 am</option>
                                        <option value="09:00 am">09:00 am</option>
                                        <option value="10:00 am">10:00 am</option>
                                        <option value="11:00 am">11:00 am</option>
                                        <option value="12:00 pm">12:00 pm</option>
                                        <option value="01:00 pm">01:00 pm</option>
                                        <option value="02:00 pm">02:00 pm</option>
                                        <option value="03:00 pm">03:00 pm</option>
                                        <option value="04:00 pm">04:00 pm</option>
                                        <option value="05:00 pm">05:00 pm</option>
                                        <option value="06:00 pm">06:00 pm</option>
                                        <option value="07:00 pm">07:00 pm</option>
                                        <option value="08:00 pm">08:00 pm</option>
                                        <option value="09:00 pm">09:00 pm</option>
                                        <option value="10:00 pm">10:00 pm</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div> <!-- /.col -->
                            </div> <!-- /.row -->
                            <div class="row mb15">
                                <div class="col-md-6">
                                    <select class="form-control" id="book-service" required data-error="Choose a service">
                                        <option value="">Service</option>
                                        <option value="Hair Styling and Treatments">Hair Styling &amp; Treatments</option>
                                        <option value="Shaves and Hot Towels">Shaves &amp; Hot Towels</option>
                                        <option value="Beard Styling and Treatments">Beard Styling &amp; Treatments</option>
                                        <option value="Signature Package">Signature Package</option>
                                        <option value="Barbershop Facials">Barbershop Facials</option>
                                        <option value="Treatment Lounge">Treatment Lounge</option>
                                        <option value="Wax Couch">Wax Couch</option>
                                        <option value="Wedding Package">Wedding Package</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div> <!-- /.col -->
                                <div class="col-md-6">
                                    <select class="form-control" id="book-stylist" required data-error="Choose a stylist">
                                        <option value="">Stylist</option>
                                        <option value="Paul Steels">Paul Steels</option>
                                        <option value="Sean Dick">Sean Dick</option>
                                        <option value="Paul Dos Reis">Paul Dos Reis</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div> <!-- /.col -->
                            </div> <!-- /.row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="book-name" placeholder="Name" required data-error="Enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> <!-- /.col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="book-phone" placeholder="Phone" required data-error="Enter your phone number">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> <!-- /.col -->
                            </div> <!-- /.row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="book-email" placeholder="Email" required data-error="Enter your email address">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> <!-- /.col -->
                            </div> <!-- /.row -->
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary hvr-in" id="book-submit">Book now</button>
                                    </div>
                                </div> <!-- /.col -->
                            </div> <!-- /.row -->
                        </form>
                        <div id="msgalert" class="hidden"></div>
                        <!-- booking form end -->
                    </div> <!-- /.col -->
                </div> <!-- /.row -->
            </div> <!--/.container-->
        </div>
        <!-- service area end -->

        <!-- team area start -->
        <div class="team-area bg-color-2 pad120">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-title text-center">
                            <img src="assets/images/title-img/title-img-4.png" class="title-img mb15" alt="">
                            <h3 class="title">Expert <strong>stylists</strong></h3>
                            <p class="sub-title">Our stylist offers traditional and contemporary services along with our very own treatment</p>
                        </div>
                    </div> <!-- /.col -->
                </div> <!-- /.row -->
            </div> <!--/.container-->
            <div class="container">
                <div class="row">
                    {% for employee in employees %}
                    <div class="col-md-3 col-sm-6">
                        <div class="team-box text-center mb30">
                            <div class="team-img">
                                <img src="{{employee.profile_image.url}}" alt="" class="img-responsive">
                                <div class="overley">
                                    <div class="team-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h4>{{employee.name}}</h4>
                                <p>{{employee.skill}}</p>
                            </div>
                        </div> <!--/.team-box-->
                    </div> <!-- /.col -->
                    {% endfor %}
                </div> <!-- /.row -->
            </div> <!--/.container-->
        </div>
        <!-- team area end -->

        <!-- hair-style area start -->
        <div class="hair-style pad120 parallax bg-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 mb30">
                                <a class="gallery-item" href="{% static 'images/hair-style/hair-style-1.jpg' %}">
                                    <img src="{% static 'images/hair-style/hair-style-1.jpg' %}" class="img-responsive" alt="">
                                </a>
                            </div> <!-- /.col -->
                            <div class="col-md-3 col-sm-3 mb30">
                                <a class="gallery-item" href="{% static 'images/hair-style/hair-style-2.jpg' %}">
                                    <img src="{% static 'images/hair-style/hair-style-2.jpg' %}" class="img-responsive" alt="">
                                </a>
                            </div> <!-- /.col -->
                            <div class="col-md-3 col-sm-3 mb30">
                                <a class="gallery-item" href="{% static 'images/hair-style/hair-style-3.jpg' %}">
                                    <img src="{% static 'images/hair-style/hair-style-3.jpg' %}" class="img-responsive" alt="">
                                </a>
                            </div> <!-- /.col -->
                            <div class="col-md-3 col-sm-3 mb30">
                                <a class="gallery-item" href="{% static 'images/hair-style/hair-style-4.jpg' %}">
                                    <img src="{% static 'images/hair-style/hair-style-4.jpg' %}" class="img-responsive" alt="">
                                </a>
                            </div> <!-- /.col -->
                        </div> <!-- /.row -->
                        <div class="row">
                            <div class="col-md-3 col-sm-3 xs-mb30">
                                <a class="gallery-item" href="{% static 'images/hair-style/hair-style-5.jpg' %}">
                                    <img src="{% static 'images/hair-style/hair-style-5.jpg' %}" class="img-responsive" alt="">
                                </a>
                            </div> <!-- /.col -->
                            <div class="col-md-3 col-sm-3 xs-mb30">
                                <a class="gallery-item" href="{% static 'images/hair-style/hair-style-6.jpg' %}">
                                    <img src="{% static 'images/hair-style/hair-style-6.jpg' %}" class="img-responsive" alt="">
                                </a>
                            </div> <!-- /.col -->
                            <div class="col-md-3 col-sm-3 xs-mb30">
                                <a class="gallery-item" href="{% static 'images/hair-style/hair-style-7.jpg' %}">
                                    <img src="{% static 'images/hair-style/hair-style-7.jpg' %}" class="img-responsive" alt="">
                                </a>
                            </div> <!-- /.col -->
                            <div class="col-md-3 col-sm-3 xs-mb30">
                                <a class="gallery-item" href="{% static 'images/hair-style/hair-style-8.jpg' %}">
                                    <img src="{% static 'images/hair-style/hair-style-8.jpg' %}" class="img-responsive" alt="">
                                </a>
                            </div> <!-- /.col -->
                        </div> <!-- /.row -->
                    </div> <!-- /.col -->
                    <div class="col-md-4">
                        <div class="section-title-left">
                            <h3 class="title">Our customers with their new style</h3>
                            <p>A complimentary thorough consultation concerning each client’s individual needs and desires is conducted before every service. Our main goal is to make sure we meet and exceed our clients expectations <strong>Men'z Saloon</strong></p>
                        </div>
                    </div> <!-- /.col -->
                </div> <!-- /.row -->
            </div> <!--/.container-->
        </div>
        <!-- hair-style area end -->

    {% endblock content %}