{% extends "main.html" %}
{% load static %}

{% block content %}
        <!-- mass-head start -->
        <div class="mass-head mass-head-pad text-center parallax mass-head-bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mass-head-content">
                            <img class="img-responsive" src="{% static 'images/others/mass-head-logo.png' %}" alt="">
                            <h2 class="page-title">Service page</h2>
                        </div>
                    </div> <!--/.col-->
                </div> <!--/.row-->
            </div>  <!--/.container-->
            <!-- mass-head-icon start -->
            <div class="mass-head-icon">
                <i class="flaticon-scissors-4"></i>
            </div>
            <!-- mass-head-icon end -->
        </div>
        <!-- mass-head end -->
        
        <!-- about area start -->
        <div class="about-area bg-color-1 pad120">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-title text-center">
                            <img src="{% static 'images/title-img/title-img-2.png' %}" class="title-img mb15" alt="">
                            <h3 class="title">Service 3 Column</h3>
                            <p class="sub-title">A wide range of male grooming services under one roof</p>
                        </div>
                    </div> <!-- /.col -->
                </div> <!-- /.row -->
            </div> <!--/.container-->
            <div class="container">
                <div class="row  row-eq-height">
                 {% for service in services %}
                    <div class="col-md-4">
                        <div class="service-col alt mb30">
                            <div class="service-thumb">
                                <img class="img-responsive" src="{{service.service_image.url}}" alt="">
                            </div>
                            <div class="service-content">
                                <div class="service-header">
                                    <h2>{{service.Title}}</h2>
                                    <span class="time"><i class="fa fa-clock-o"></i>{{service.created}}</span>
                                </div>
                                <div class="clearfix"></div>
                                <p>{{service.description}}</p>
                                <div class="service-btn text-center">
                                    <a href="#" class="btn btn-primary sbtn-hvr-out">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.col -->
                    {% endfor %}
                    
                </div> <!--/.row-->
                <div class="row row-eq-height">
                {% for service2 in services2 %}
                    <div class="col-md-4">
                        <div class="service-col alt mb30">
                            <div class="service-thumb">
                                <img class="img-responsive" src="{{service2.service_image.url}}" alt="">
                            </div>
                            <div class="service-content">
                                <div class="service-header">
                                    <h2>{{service2.Title}}</h2>
                                    <span class="time"><i class="fa fa-clock-o"></i>{{service2.created}}</span>
                                </div>
                                <div class="clearfix"></div>
                                <p>{{service2.description}}</p>
                                <div class="service-btn text-center">
                                    <a href="#" class="btn btn-primary sbtn-hvr-out">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.col -->
                    {% endfor %}

                </div> <!-- /.row -->
            </div> <!--/.container-->
        </div>
        <!-- service area end -->
{% endblock content %}